/* Write your CSS here */
.about-img-desk {
    height: 650px;
    width: 1000px;
}

.about-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-img-mob {
    height: 450px;
    width: 450px;
}

@media screen and (min-width: 768px) {
    .about-img-mob {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .about-img-desk {
        display: none;
    }
}